snippet m_local_test "module_local_test"
module "{$1}"{
	source = ./test
	nyan = "string"
	nyan1 = ""
	nyan2 = ""
	nyan3 = ""
	# optional
	# nyan4 = "hoge"
	# nyan5 = "map[iruka:statoko tanuki:tagarogu]"
}
endsnippet


